@charset "UTF-8";

body, ul {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

a:hover {
    background-color: rgba(0, 0, 0, .05);
    color: #e8bb30;
}

header {
    box-sizing: border-box;
    background-color: #000;
    padding: 0 1.5rem;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

#menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #000;
    transition: .6s;
    z-index: 10000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
}

#menu a {
    display: inline-block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
}

#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    color: #fff;
}

#hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
}

#hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.active #hamburger {
    border-top-color: transparent;
}

#nav.active #hamburger::before {
    transform: rotate(135deg);
    color: #e8bb30;
}

#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
    color: #e8bb30;
}

.bghero {
    background-color: #1b1b1b;
    height: 636px;
}

.hero {
    display: inline-block;
    margin: 10% 8% 0 8%;
}

.hero h1 {
    margin: 0;
    padding: 0.375rem 0;
    font-size: 2.5rem;
    color: #e8bb30;
}

.hero h2 {
    margin: 0;
    font-size: 1.625rem;
    font-weight: 500;
    color: #fff;
}

.hero h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15%;
}

.btn1 {
    display: flex;
    font-size: 1.15rem;
    font-weight: 500;
    color: #e8bb30;
    border: 2px solid #e8bb30;
    padding: 8px 15px;
    justify-content: center;
    margin: 0 20%;
}

.btn1:hover {
    background-color: #e8bb30;
    font-weight: 600;
    color: #1b1b1b;
}

.bgfoto1 {
    display: flex;
    margin-top: 10%;
    justify-content: center;
}

.bgodev {
    background-color: #292929;
}

.textodev {
    display: inline-block;
    margin: 15% 8% 10% 8%;
}

.textodev h1 {
    display: flex;
    margin: 0 0 15% 0;
    justify-content: center;
    color: #e8bb30;
}

.textodev p {
    text-align: justify;
    color: #fff;
}

.btn2 {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    color: #e8bb30;
    border: 2px solid #e8bb30;
    padding: 8px 15px;
    justify-content: center;
    margin: 10% 20%;
}

.btn2:hover {
    background-color: #e8bb30;
    font-weight: 600;
    color: #1b1b1b;;
}

.btn3 {
    display: flex;
    font-size: 1rem;
    background-color: #e8bb30;
    font-weight: 600;
    color: #1b1b1b;;
    padding: 8px 15px;
    justify-content: center;
    margin: 7% 20%;
}

.btn3:hover {
    font-weight: 500;
    color: #e8bb30;
    border: 1px solid #e8bb30;
}

.bgportifolio {
    background-color: #1b1b1b;
    padding: 15% 8% 10% 8%;
    height: 600px;
}

.bgportifolio h1 {
    display: flex;
    margin: 0 0 5% 0;
    justify-content: center;
    color: #e8bb30;
}

.bgportifolio p {
    color: #fff;
    text-align: center;
}

.bgskills {
    background-color: #292929;
    padding: 15% 8% 10% 8%;
    height: 400px;
}

.bgskills h1 {
    display: flex;
    margin: 0 0 5% 0;
    justify-content: center;
    color: #e8bb30;
}

.contato {
    background-color: #1b1b1b;
    padding: 15% 8% 10% 8%;
    height: 400px;
}

.contato h1 {
    display: flex;
    margin: 0 0 5% 0;
    justify-content: center;
    color: #e8bb30;
}

.ctafinal {
    background-color: #e8bb30;
    padding: 10% 6% 10% 6%;
    height: 150px;
}

.ctafinal h1 {
    display: flex;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

.btn4 {
    display: flex;
    font-size: 1rem;
    background-color: #f8f9fa;
    font-weight: 600;
    color: #1b1b1b;;
    padding: 8px 15px;
    justify-content: center;
    margin: 12% 25% 0% 25%;
}

.btn4:hover {
    font-weight: 500;
    color: #000;
    border: 1px solid #000;
}

.bgfooter {
    display: flex;
    background-color: #000;
    color: #fff;
    justify-content: center;
    font-size: .8rem;
}


